body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
} 
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px;
}
table{
    margin:40px 450px;
}
h1{
    text-align: center;
}
.timetable{
    border-right: none;
}